<center>
    
# Stock dynamics

<p>A stock market is where buyers and sellers trade shares of a company, and is one of the most popular ways for individuals and companies to invest money. The size of the world stock market  is now estimated to be in the trillions. The largest stock market in the world is the New York Stock Exchange (NYSE), located in New York City. About 2,800 companies are listed on the NYSE. In this problem, we'll look at the monthly stock prices of five of these companies: IBM, General Electric (GE), Procter and Gamble, Coca Cola, and Boeing. The data used in this problem comes from Infochimps.
</p>

Read the data: IBMStock.csv, GEStock.csv, ProcterGambleStock.csv, CocaColaStock.csv, and BoeingStock.csv.

Call the data frames "IBM", "GE", "ProcterGamble", "CocaCola", and "Boeing", respectively. 

Each data frame has two variables, described as follows:  

1. **Date**: the date of the stock price, always given as the first of the month.  
2. **StockPrice**: the average stock price of the company in the given month.

In this problem, we'll take a look at how the stock dynamics of these companies have changed over time.

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# To print multiple outputs together
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Change column display number during print
pd.set_option('display.max_columns', 500)

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# To display float with 2 decimal, avoid scientific printing
pd.options.display.float_format = '{:.2f}'.format

import glob
import os

## Task 1 - Combine the data into single dataframe

In [2]:
path = "../data/"
all_files = glob.glob(os.path.join(path, "*.csv")) #make list of paths
all_files

['../data/IBMStock.csv',
 '../data/GEStock.csv',
 '../data/CocaColaStock.csv',
 '../data/ProcterGambleStock.csv',
 '../data/BoeingStock.csv']

In [3]:
for file in all_files:
    # Getting the file name without extension
    file_name = os.path.splitext(os.path.basename(file))[0]
    print(file_name)
    # Reading the file content to create a DataFrame
    dfn = pd.read_csv(file)
    # Setting the file name (without extension) as the index name
    dfn.index.name = file_name

IBMStock
GEStock
CocaColaStock
ProcterGambleStock
BoeingStock

In [7]:
dfn

                Date  StockPrice
BoeingStock
0             1/1/70       27.85
1             2/1/70       22.38
2             3/1/70       23.11
3             4/1/70       21.57
4             5/1/70       18.93
5             6/1/70       15.44
6             7/1/70       13.66
7             8/1/70       13.34
8             9/1/70       17.39
9            10/1/70       15.91
10           11/1/70       13.97
11           12/1/70       14.35
12            1/1/71       17.34
13            2/1/71       21.86
14            3/1/71       22.06
15            4/1/71       22.32
16            5/1/71       23.52
17            6/1/71       21.23
18            7/1/71       18.22
19            8/1/71       16.16
20            9/1/71       15.52
21           10/1/71       16.26
22           11/1/71       14.80
23           12/1/71       18.00
24            1/1/72       23.13
25            2/1/72       25.27
26            3/1/72       23.28
27            4/1/72       23.74
28            5/1/72       21.64
29            6/1/72       21.48
...              ...         ...
450           7/1/07      101.85
451           8/1/07       99.26
452           9/1/07       99.32
453          10/1/07       98.91
454          11/1/07       93.35
455          12/1/07       89.67
456           1/1/08       80.82
457           2/1/08       83.08
458           3/1/08       76.26
459           4/1/08       78.72
460           5/1/08       84.42
461           6/1/08       74.70
462           7/1/08       65.04
463           8/1/08       64.33
464           9/1/08       60.94
465          10/1/08       47.60
466          11/1/08       43.69
467          12/1/08       40.47
468           1/1/09       42.99
469           2/1/09       38.95
470           3/1/09       33.24
471           4/1/09       37.53
472           5/1/09       43.56
473           6/1/09       47.97
474           7/1/09       41.48
475           8/1/09       45.99
476           9/1/09       51.36
477          10/1/09       51.16
478          11/1/09       50.70
479          12/1/09       55.03

[480 rows x 2 columns]